// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'NoeDisplay';
  src: local('NoeDisplay'),
    url(~assets/fonts/NoeDisplay-Bold.ttf) format('truetype');
}
:root {
  --matte: #0b1320;
  --light-matte: rgb(11, 19, 32, 0.5);
  --blue-matte: #2f2f6c;
  --light-blue-matte: #4d587b;
  --danger: #f03d3e;
  --coral: #ff5663;
  --brand-xlight-orange: #fffaf2;
  --brand-blue: #377ff7;
  --brand-fade-white: #f6f8fa;
  --brand-deep-blue: #001333;
  --brand-dark-blue: #000080;
  --brand-green: #27ae60;
  --brand-light-green: rgba(39, 174, 96, 0.06);
  --brand-yellow: rgb(230, 192, 60);
  --brand-orange: #ffd491;
  --brand-xlight-blue: #f9fbff;
  --brand-2xlight-blue: #f8f9ff;
  --brand-light-blue: #e3edff;
  --brand-light-blue2: #c3e6fd;
  --brand-lighter-blue: #eaf2ff;
  --brand-lighter-blue2: #eaf0fd;
  --brand-grey: #f0f0f0;
  --brand-light-gray: #eef3f9;
  --brand-secondary: #7d92a7;
  --brand-light-danger: #ffe8e8;
  --brand-font: 'DM Sans', sans-serif;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  //   background: red !important;
  font-family: 'DM Sans', sans-serif;
}
.ant-form-item-label,
.ant-form-item-required {
  color: #878ea1 !important;
  font-family: 'DM Sans' !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 0px !important;
  width: 100%;
}
.ant-form-explain {
  text-align: left;
  color: red;
}
.ant-input {
  border-radius: 7px !important;
  padding: 17px 20px !important;
  width: 100%;
  height: auto !important;
  border: 1px solid #e0e0e0;
}
.ant-select-selection {
  border-radius: 7px !important;
  padding: 10px 7px !important;
  width: 100%;
  height: auto !important;
  border: 1px solid #e0e0e0;
}
.ant-input:disabled {
  background-color: #f8f8f8 !important;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.85) !important;
}
.ant-form-item {
  margin-bottom: 5px !important;
}
.ant-select-selection {
  display: flex;
  justify-content: space-between;
  //   border: 1px solid #e0e0e0;
}
.ant-form-explain {
  margin-top: 10px !important;
  //   color: red;
  //   border: 1px solid red;
}
